body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #252525;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: #252525;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    text-transform: uppercase;
    margin: 35px auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 250px;
    position: relative;
}

.btn:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
}

.question-btn {
    text-transform: uppercase;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
}

.question-btn:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.question-btn:focus {
    outline: 0;
    font-weight: 700;
}

.center {
    text-align: center;
}

.active {
    font-weight: bold;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

.nav li:first-child {
    padding-left: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.avatar {
    height: 50px;
    border-radius: 25px;
    display: flex;
    float:left;
}
.profile {
    border-radius: 25px;
    width: 100%;
    max-width: 590px;
    padding: 10px;
    margin: 10px auto 0;
    border: 1px solid #dad7d7;
    box-shadow: 5px 5px lightgray;
    /*cursor: pointer;*/
    background-color: #1B2631;
}

.profile h1 {
    color: gold;
    padding-left: 60px;
}

.profile h4 {
    color: lightyellow;
    text-Align: center;
}

.question {
    border-radius: 25px;
    width: 100%;
    max-width: 590px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    box-shadow: 5px 5px lightgray;
    /*cursor: pointer;*/
    background-color: #1B2631;
}
.profileLink {
    width: 100%;
    max-width: 590px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}
.question h1 {
    color: gold;
    text-Align: center;
}

.question h4 {
    color: lightyellow;
    text-Align: center;
}

.optionOne {
    color: lightskyblue;
    text-Align: center;
}

.optionTwo {
    padding-top: 10px;
    color: lightgreen;
    text-Align: center;

}
.optionOneRadio {
    color: lightskyblue;
}

.optionTwoRadio {
    padding-top: 10px;
    color: lightgreen;

}
.unansweredOption {
    color: transparent;
    vertical-align: central;
    font-size: 40px;
    display: flex;
    float:left;
}
.answeredOption {
    color: gold;
    vertical-align: central;
    font-size: 40px;
    display: flex;
    float:left;
}

.separator {
    margin:15px;
    border-top:2px dashed grey;
    border-bottom:2px;
    height:1px;
    width:85%;
}

.question-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.avatar-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
    font-weight: bold;
    margin-right: 5px;
}

.question-info > div > span:nth-child(2) {
    color: #969696;
    font-size: 16px;
}

.question-info > div > div {
    color: #969696;
    font-size: 15px;
}

.question-info > div > p {
    font-size: 18px;
    margin: 10px 0;
}

.question-icons {
    display: flex;
    align-items: center;
}

.question-icons > span {
    color: #969696;
    margin: 0 15px 0 5px;
    font-size: 18px !important;
}

.question-icon {
    font-size: 27px;
    color: #697784;
}

.question-icon:hover {
    color: #00b5d6;
    cursor: pointer;
}

.new-question {
    width: 100%;
    max-width: 590px;
    display: flex;
    padding: 10px;
    margin: 10px auto 0;
    border: 2px solid #1B2631;
    border-radius: 10px;
    flex-direction: column;
}

.textarea {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 10px;
    font-size: 15px;
    height: 100px;
}

.notFound {
    margin-top: 10px;
    font-size: 80px;
    text-align: center;
    color: #C3392A;
}

.notFoundP {
    font-size: 41px;
    text-align: center;
    color: #1B2631;
}